<section class="pass modal">
  <button class="btn btn--circle btn--close mfp-close" type="button" aria-label="Закрыть"></button>
  <div class="modal__content">
    <div class="h2 modal__title">Восстановление пароля</div>
    <form class="js-validate modal__form" action>
      <div class="form-group form-group--mb2">
        <label class="visuallyhidden" for="email">Электронная почта</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Электронная почта" required="required"><span class="form-error-icon"><i class="fas fa-exclamation-circle"></i></span>
      </div>
      <div class="modal__actions">
        <button class="btn btn--yellow">Восстановить пароль</button>
      </div>
    </form><span class="decor modal__triangle" aria-hidden="true"><svg role="img" width="1em" height="1em"><use xlink:href="#si-decor-triangle"/></svg></span><span class="decor modal__zig-line" aria-hidden="true"><svg role="img" width="1em" height="1em"><use xlink:href="#si-decor-zigline-small"/></svg></span>
  </div>
</section>