<section class="call modal">
  <button class="btn btn--circle btn--close mfp-close" type="button" aria-label="Закрыть"></button>
  <div class="modal__content">
    <div class="h2 modal__title">
      <svg class="modal__icon" role="img" width="1em" height="1em">
        <use xlink:href="#si-phone" />
      </svg>Заказать звонок</div>
    <form class="form js-validate modal__form" action method="POST">
      <div class="form-group">
        <label class="visuallyhidden" for="name">Ваше имя</label>
        <input class="form-control" type="text" name="name" id="name" placeholder="Ваше имя" required="required"><span class="form-error-icon"><i class="fas fa-exclamation-circle"></i></span>
      </div>
      <div class="form-group">
        <label class="visuallyhidden" for="phone">Номер телефона</label>
        <input class="form-control js-tel" type="tel" name="phone" id="phone" placeholder="Номер телефона" required="required"><span class="form-error-icon"><i class="fas fa-exclamation-circle"></i></span>
      </div>
      <div class="form-group">
        <div class="select-style select-style--white-br">
          <select class="js-select" name="time">
            <option value="1">Перезвонить как можно скорее</option>
            <option value="2">Перезвонить еще быстрее</option>
            <option value="3">Перезвонить</option>
          </select>
        </div>
      </div>
      <div class="form-group form-group--mb2 form-group--auto">
        <label class="ui-checkbox">
          <input class="visuallyhidden ui-checkbox__input" type="checkbox" name="personal" required="required"><i class="ui-checkbox__icon"><svg role="img" width="1em" height="1em"><use xlink:href="#si-icon-check"/></svg></i><span class="ui-checkbox__text">Согласие на обработку персональных данных</span>
        </label>
      </div>
      <button class="btn btn--yellow btn--small modal__button">Отправить</button>
    </form>
  </div>
</section>