.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	border: 0 !important;
	clip: rect(0 0 0 0) !important;
	clip-path: inset(100%) !important;
	}

	.b-personal-pet-card__edit_button {
		margin-right: 15px;
		padding: 6px 18px 7px;
		min-width: 105px;
		font-size: 13px;
		line-height: 15px
	  }
	  

/* 2021-10-27 modification ->*/
.new-order:before
{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border:2px solid #58b78c !important; 
		border-radius: 15px;
}

.b-personal-order:hover {
	margin: 3px;
    background-image: linear-gradient(45deg, #87dea5, #58b78c);
}
.b-personal-order.active:hover {
	margin: 0px;
}

.new-order:before
{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border:2px solid #58b78c !important; 
		border-radius: 15px;
}

.b-personal-order--button {
    position: absolute;
    top: 25px;
    right: 25px;

	display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: top;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.b-personal-order:after {
	display: none;
}
.button--pg{
	margin-left: 5px;
}

/***/
.b-personal-test-list__item--mod{
	background-color:#f5f6f7;
	display: flex; 
	flex-direction: column;
}

.b-personal-test-list__top--mod{
	color: #0f1422;
}

.b-personal-test-list__item:hover .b-personal-test-list__top--mod{
	color: #fff;
}

.b-personal-service__content--mod{
	padding-top: 0px; 
	padding-left: 0px;
}

.b-personal-test-list__item-bottom{
	margin-top: auto;
}

.b-personal-order--mod{
		position: relative;
		display: -ms-grid;
		display: grid;
		gap: 0 45px;
		-ms-grid-columns: 195px 1fr;
		grid-template-columns: 195px 1fr;
		padding: 32px;
		border-radius: 15px;
		-webkit-transition: .3s ease;
		transition: .3s ease;
}

.b-personal-order--mod:not(.new-order):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid #f0f0f0;
    border-radius: 15px;
}

.account-personal__controls{
	margin-top: 30px;
}

.account-personal__controls .btn:not(:last-child){
	margin-right: 10px;
}

.btn--long{
	width: 100%;
}

.btn--with-margin{
	margin-top: 15px;
	color: white;
}

.btn--with-margin:hover{
	color: white;
}


.b-chat-dialog__view__mod{
	height: calc(100vh - 405px);
	overflow: auto;
}